@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.picture {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.btn {
  font-family: inherit;
  color: #fff;
  background: #2196f3;
  font-size: 16px;
  border-color: transparent;
  font-weight: 500;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #188CE8;
}

.btn_modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  padding: 0;
  right: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn_modal:hover, .btn_modal:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: currentColor;
}

.btn-fly {
  padding: 10px 52px;
  width: 200px;
  height: 50px;
}

.hero_btn {
  font-family: inherit;
  color: #fff;
  background: #2196f3;
  font-size: 16px;
  border-color: transparent;
  font-weight: 500;
  border-radius: 4px;
  line-height: 1.87;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_btn:hover, .hero_btn:focus {
  background-color: #188CE8;
}

.btn-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-svg:hover, .btn-svg:focus {
  background-color: #188CE8;
}
.btn-svg .icon-telega {
  margin-left: 10px;
}

.button_btn-menu {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_btn-menu:hover {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
}
.button_btn-menu:focus {
  background-color: #2196f3;
  color: #fff;
}

.header-container {
  max-width: 1600px;
  margin: 0 auto;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile.is-open {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile.visua .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  padding-top: 64px;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 320px) {
  .header_wrap-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .header_logo {
    font-family: "Raleway", sans-serif;
    color: var(--logo-main-color);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .header_logo-color {
    color: #2196f3;
  }
  .header_nav {
    display: none;
  }
  .header_button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .contacts {
    display: none;
  }
  .contacts_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts_svg-mail,
.contacts_svg-tel {
    margin-right: 10px;
  }
  .mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #fff;
  }
  .mobile_button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .mobile_header {
    padding-left: 0;
    list-style: none;
    margin-bottom: 302px;
  }
  .mobile_link {
    position: relative;
    display: block;
    padding: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile_link:hover {
    color: #2196f3;
  }
  .mobile_link.current {
    color: #188CE8;
  }
  .mobile_item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile_contacts {
    padding-left: 0;
    list-style: none;
    margin-bottom: 64px;
  }
  .mobile_contacts-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile_contacts-tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2196f3;
  }
  .mobile_contacts-mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile_contacts-icon {
    display: none;
  }
  .social {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .social__item:not(:first-child) {
    padding-left: 10px;
  }
  .social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_wrap-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mobile {
    display: none;
  }
  .header_button {
    display: none;
  }
  .header_logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03;
    color: #000000;
  }
  .header_logo-color {
    color: #2196f3;
  }
  .header_nav-link.current {
    color: #188CE8;
  }
  .current::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    bottom: -1px;
  }
  .header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 87px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  .nav-item.current {
    color: #188CE8;
  }
  .header_nav-item:not(:last-child) {
    margin-right: 50px;
  }
  .header_nav-link {
    position: relative;
    display: block;
    padding: 32px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header_nav-link:hover {
    color: #2196f3;
  }
  .mobile_link.current {
    color: #188CE8;
  }
  .mobile_link.current::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
  }
  .contacts_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts_svg-tel {
    width: 10px;
    height: 14px;
    fill: currentColor;
    margin-right: 8px;
  }
  .contacts_svg-mail {
    width: 14px;
    height: 10px;
    fill: currentColor;
    margin-right: 8px;
  }
  .mobile_contacts-icon {
    margin-right: 10px;
    fill: #757575;
  }
  .contacts_link:hover svg use,
.contacts_link:focus svg use {
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts_link:hover,
.contacts_link:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts_item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
  .contacts_item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .contacts_svg-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts_svg-tel {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: currentColor;
  }
  .contacts_email-svg, .contacts_tel-svg {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    padding-top: 32px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
  }
  .contacts_tel-svg:hover, .contacts_email-svg:hover, .contacts_tel-svg:focus, .contacts_email-svg:focus {
    color: #2196f3;
  }
  .header_wrap-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
  .header_nav-link.current {
    color: #188CE8;
  }
  .current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    bottom: -1px;
  }
}
.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-mobile.jpg);
  margin: 0 auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-mobile2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-table.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-table.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-table2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-table2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-img2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img2x.jpg);
  }
}
.hero_btn {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: navajowhite;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_btn:hover, .hero_btn:focus {
  background-color: #188CE8;
}

.hero_title {
  max-width: 400px;
  padding-top: 118px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 300ms linear, visibility 300ms linear;
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  padding: 40px;
  width: 300px;
  height: 609px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
  .modal_svg {
    color: #2196f3;
    width: 18px;
    height: 18px;
  }
}
@media screen and (min-width: 320px) {
  .hero {
    text-align: center;
    padding-bottom: 118px;
    max-width: 1600px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .hero_btn {
    font-weight: 700;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .form-hero {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }
  .form_hero-title {
    width: 370px;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    font-size: 20px;
    width: 448px;
  }
  .form_field {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  .form_field:focus-within > input {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
  .form_field:focus-within > .form_field-svg {
    fill: currentColor;
  }
  .form_field textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form_field textarea:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
  .form_field textarea::-webkit-input-placeholder {
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
  }
  .form_field textarea::-moz-placeholder {
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
  }
  .form_field textarea:-ms-input-placeholder {
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
  }
  .form_field textarea::-ms-input-placeholder {
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
  }
  .form_field textarea::placeholder {
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
  }
  .form_field-input {
    width: 100%;
    margin: 0;
    padding-left: 42px;
  }
  .form_field-svg {
    position: absolute;
    top: 50%;
    left: 12px;
    color: #2196f3;
    display: inline-block;
  }
  .form_field label {
    text-align: left;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.01em;
    font-size: 12px;
    color: #757575;
    margin-bottom: 4px;
  }
  .form_field input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    margin: 0;
    outline: none;
    -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form_checkbox {
    margin-bottom: 30px;
  }
  .form_checkbox-label {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    font-size: 12px;
  }
  .form_checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .form_checkbox-input:checked + .form_checkbox-icon {
    border-color: transparent;
    background-image: url(/img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    fill: var(--container-bg-color);
    background-color: #2196f3;
    border-color: #2196f3;
  }
  .form_checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 7px;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-coloк 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-coloк 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form_checkbox-policy {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #2196f3;
    margin-left: 5px;
    text-underline-offset: 0.3em;
    text-decoration: underline;
  }
  .form_text {
    height: 120px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
  .hero_title {
    text-transform: uppercase;
    font-size: 44px;
    line-height: 1.36;
    color: #fff;
    letter-spacing: 0.06em;
    margin-top: 0;
    max-width: 650px;
    margin-top: 200px;
    letter-spacing: 0.06em;
    margin: 0 auto 30px auto;
    font-weight: 900;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal_svg {
    color: #2196f3;
    width: 18px;
    height: 18px;
  }
  .form_hero-title {
    display: block;
    margin-bottom: 30px;
  }
}
.bussines_list {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 320px) {
  .section_bussines {
    padding: 60px 0;
  }
  .bussines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0;
  }
  .bussines_list:not(:last-child) {
    margin-bottom: 30px;
  }
  .bussines_list-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  .bussines_important {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.14;
    margin-bottom: 10px;
  }
  .bussines_text {
    font-size: 14px;
    color: #757575;
    letter-spacing: 0.03em;
    line-height: 1.71;
  }
  .antena-svg {
    width: 70px;
    height: 70px;
  }
  .clock-svg {
    width: 70px;
    height: 70px;
  }
  .comp-svg {
    width: 70px;
    height: 70px;
  }
  .stronaut-svg {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 768px) {
  .section_bussines {
    padding: 60px 0;
  }
  .bussines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
    list-style: none;
  }
  .bussines_list {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .bussines_list:not(:last-child) {
    margin-bottom: 15px;
  }
  .bussines_list-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  .bussines_important {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.14;
    margin-bottom: 10px;
  }
  .bussines_text {
    width: 354px;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0.03em;
    line-height: 1.71;
  }
  .antena-svg {
    width: 70px;
    height: 70px;
  }
  .clock-svg {
    width: 70px;
    height: 70px;
  }
  .comp-svg {
    width: 70px;
    height: 70px;
  }
  .stronaut-svg {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .section_bussines {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .bussines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .bussines_list-link {
    width: 270px;
  }
  .bussines_text {
    width: 270px;
    height: 72px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    font-size: 14px;
  }
}
@media screen and (min-width: 320px) {
  .section_nazv {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section_nazv {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section_nazv {
    display: block;
    padding-top: 0;
  }
  .section_nazv-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
  }
  .section_nazv-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .section_nazv-img-link {
    display: block;
    max-width: 100%;
  }
  .section_nazv-thumb {
    position: relative;
    overflow: hidden;
  }
  .section_nazv-text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    text-transform: uppercase;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
.button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button_flex-menu:not(:last-child) {
  margin-right: 8px;
}

.button_cards-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.button_cards-link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.button_cards-link:hover, .button_cards-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button_img-hover {
  position: relative;
  overflow: hidden;
}

.button_img-block {
  display: block;
}

.button_img-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  width: 100%;
  top: 1px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_border {
  border: 1px solid #eee;
  padding: 20px 24px;
  border-top: none;
}

.button_project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #212121;
  margin-bottom: 4px;
  margin-top: 0;
}

.button_stylep {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
}

.button_link:hover .button_img-text,
.button_link:focus .button_img-text {
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.partner {
  background-color: #f5f4fa;
}

@media screen and (min-width: 320px) {
  .partner {
    text-align: center;
    padding: 60px 0;
  }
  .partner_container {
    width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .partner_color {
    margin: 0 auto;
    padding-left: 0;
  }
  .partner_bg-licolor {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    margin-bottom: 30px;
    width: 100%;
  }
  .partner_bg-licolor img {
    display: block;
    width: 100%;
    height: auto;
  }
  .partner_fio {
    padding: 30px 30px;
  }
  .partner_lastname {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .partner_work {
    font-size: 16px;
    color: #757575;
    line-height: 1.18;
    margin-bottom: 16px;
  }
  .partner_soc-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .partner_link-a {
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #AFB1B8;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .partner_link-a:hover {
    background-color: #2196f3;
    color: #fff;
  }
  .partner_link-a:focus {
    background-color: #2196f3;
  }
  .partner_link-a:focus svg {
    color: #fff;
  }
  .partner_link-svg {
    fill: currentColor;
  }
  .nazv {
    font-size: 28px;
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .partner {
    text-align: center;
  }
  .partner_container {
    width: 768px;
  }
  .partner_color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .partner_bg-licolor {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    margin-bottom: 30px;
    width: calc((100% - 30px) / 2);
    width: 354px;
    margin-bottom: 0px;
  }
  .partner_bg-licolor img {
    display: block;
    width: 100%;
    height: auto;
  }
  .partner_fio {
    padding: 30px 30px;
  }
  .partner_lastname {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .partner_work {
    font-size: 16px;
    color: #757575;
    line-height: 1.18;
    margin-bottom: 16px;
  }
  .partner_soc-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partner_link-list {
    gap: 15px;
  }
  .partner_link-a {
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #AFB1B8;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .partner_link-a:hover {
    background-color: #2196f3;
    color: #fff;
  }
  .partner_link-a:focus {
    background-color: #2196f3;
  }
  .partner_link-a:focus svg {
    color: #fff;
  }
  .partner_link-svg {
    fill: currentColor;
  }
  .nazv {
    font-size: 28px;
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .partner {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .partner_container {
    width: 1200px;
  }
  .partner_color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .partner_bg-licolor {
    width: calc((100% - 90px) / 4);
    width: 270px;
    margin-bottom: 0px;
  }
  .partner_bg-licolor img {
    display: block;
    width: 100%;
    height: auto;
  }
  .partner_work {
    font-size: 16px;
    color: #757575;
    line-height: 1.18;
    margin-bottom: 16px;
  }
  .partner_lastname {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .nazv-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 320px) {
  .client {
    padding: 60px 0;
  }
  .client_container {
    width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .client_title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .client_company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
    padding-left: 0;
    list-style: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .client_company-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 92px;
    width: calc((100% - 60px) / 2);
    margin: 15px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client_company-list svg {
    fill: #afb1b8;
  }
  .client_company-list:hover, .client_company-list:focus {
    color: #2196f3;
    border-color: #2196f3;
  }
  .client_fio {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 768px) {
  .client {
    padding: 60px 0;
  }
  .client_container {
    width: 768px;
  }
  .client_company-list {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .client {
    padding: 94px 0;
  }
  .client_title {
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .client_company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .client_company-list {
    width: 170px;
    height: 92px;
  }
  .client_company-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: #AFB1B8;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client_company-link svg {
    fill: currentColor;
  }
  .client_company-link:hover, .client_company-link:focus {
    color: #2196f3;
    border-color: #2196f3;
  }
}
.footer_col-last input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background: none;
}

.address {
  text-align: center;
  margin-top: 20px;
  font-style: normal;
}

.address_list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.address_link {
  text-decoration: none;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
  }
  .footer_container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .footer_col {
    text-align: center;
    margin-bottom: 60px;
  }
  .footer_col-title {
    display: block;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
  }
  .footer_soc {
    margin-bottom: 60px;
  }
  .footer_logo {
    display: block;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
  }
  .footer_logo-color {
    color: #2196f3;
  }
  .footer_soc-link {
    margin-top: 60px;
    fill: #fff;
  }
  .footer_soc-link-title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  .footer_soc-link-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
  }
  .footer_soc-link-li:not(:last-child) {
    margin-right: 10px;
  }
  .footer_soc-link-img {
    width: 44px;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer_soc-link-img:hover, .footer_soc-link-img:focus {
    background-color: #2196f3;
  }
  .footer .footer_link-svg {
    fill: #fff;
  }
  .footer_form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #ffdead;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 0;
  }
  .footer_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_col {
    margin-bottom: 0;
  }
  .footer_soc {
    margin: 0;
    margin-left: 165px;
  }
  .footer_container {
    width: 768px;
  }
  .footer_form {
    text-align: center;
  }
  .footer_col-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
  }
  .footer_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  .footer_logo {
    display: block;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
    font-size: 26px;
  }
  .footer_col {
    text-align: left;
    max-width: 100%;
    margin-bottom: 0;
    margin-right: 70px;
  }
  .footer_col_logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .footer_col-last {
    margin-left: 93px;
  }
  .footer_col-last-title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;
  }
  .footer_soc {
    margin: 0;
  }
  .address {
    text-align: left;
  }
  .address_list {
    width: 231px;
  }
  .address_link {
    font-size: 14px;
    color: #fff;
    font-style: normal;
    letter-spacing: 0.03em;
    line-height: 1.71;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address_link:hover, .address_link:focus {
    color: #2196f3;
  }
  .footer_soc-link {
    margin: 0;
  }
  .footer_soc-link-title {
    text-align: left;
  }
  .footer_col-title {
    margin-top: 0;
    text-align: left;
    margin-bottom: 20px;
  }
  .footer_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_form input {
    margin-right: 12px;
    height: 50px;
    width: 358px;
    color: #fff;
  }
  .footer_form button {
    margin-top: 0;
  }
  .footer_email--two {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-size: 14px;
    padding: 0;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer_email--two:hover, .footer_email--two:focus {
    color: #2196f3;
  }
  .footer_tel--two {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-size: 14px;
    padding: 0;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer_tel--two:hover, .footer_tel--two:focus {
    color: #2196f3;
  }
}/*# sourceMappingURL=main.css.map */