.bussines_list {
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 320px) {
    .section_bussines {
        padding: 60px 0;
    }


    .bussines {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 0;


        &_list:not(:last-child) {
            margin-bottom: 30px;
        }

        &_list-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120px;
            background-color: $button-bg-color;
            margin-bottom: 30px;
        }

        &_important {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .03em;
        line-height: 1.14;
        margin-bottom: 10px;
        }

        
        &_text {
            font-size: 14px;
            color: $secondary-text-color;
            letter-spacing: .03em;
            line-height: 1.71;
        }

        
    }

    .antena-svg {
        width: 70px;
        height: 70px;
    }

    .clock-svg {
        width: 70px;
        height: 70px;
    }

    .comp-svg {
        width: 70px;
        height: 70px;
    }

    .stronaut-svg {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 768px) {

    .section_bussines {
        padding: 60px 0;
    }

    .bussines {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
        list-style: none;

        &_list {
            width: calc((100% - 60px)/2);
            margin: 15px;
        }


        &_list:not(:last-child) {
            margin-bottom: 15px;
        }


        &_list-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 120px;
            background-color: $button-bg-color;
            margin-bottom: 30px;
        }

        &_important {
            display: inline-block;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: .03em;
            line-height: 1.14;
            margin-bottom: 10px;
        }

        
        &_text {
            width: 354px;
            font-size: 14px;
            color: $secondary-text-color;
            letter-spacing: .03em;
            line-height: 1.71;
        }

        
    }

    .antena-svg {
        width: 70px;
        height: 70px;
    }

    .clock-svg {
        width: 70px;
        height: 70px;
    }

    .comp-svg {
        width: 70px;
        height: 70px;
    }

    .stronaut-svg {
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 1200px) {

    .section_bussines {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .bussines {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;


        &_list-link {

            width: 270px;
        }

        &_text {
            width: 270px;
            height: 72px;
            font-weight: 400;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: #757575;
            font-size: 14px;
        }
    }
    // .bussines {
    //     display: flex;
    //     flex-wrap: nowrap;

    //     &_container {
    //         width: 1200px;
    //     }

        // &_list:not(:last-child) {
        //     margin-right: 30px;
        // }

        // &_list-link {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     width: 270px;
        //     height: 120px;
        //     background-color: $button-bg-color;
        //     margin-bottom: 30px;
        // }
    // }
}






