

.footer_col-last input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background: none;
    color: $container-bg-color;
}

.address {
    text-align: center;
    margin-top: 20px;
    font-style: normal;
}

.address_list {
    margin: 0;
    padding-left: 0;
    list-style: none;

}

.address_link {
    text-decoration: none;
    line-height: 1.71;
    color: rgba(255,255,255,.6);
    font-size: 14px;
}

@media screen and (min-width: 320px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
        background: $bg-section;


        &_container {
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
        }


        &_col {
            text-align: center;
            margin-bottom: 60px;


            &-title {
                display: block;
                font-weight: 700;
                line-height: 1.14;
                letter-spacing: .03em;
                text-transform: uppercase;
                color: #fff;
                margin: 0 auto;
                margin-bottom: 20px;
                text-align: center;
                font-size: 14px;
            }
        }

        &_soc {
            margin-bottom: 60px;
        }

        &_logo {
            display: block;
            font-size: 26px;
            font-weight: 700;
            line-height: 1.19;
            letter-spacing: .03em;
            color: $container-bg-color;
        }

        &_logo-color {
            color: $accent-color;
        }

        &_soc-link {
            margin-top: 60px;
            fill: $container-bg-color;

            &-title {
                margin: 0 auto;
                font-weight: 700;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: .03em;
                text-transform: uppercase;
                color: $container-bg-color;
                text-align: center;
            }
            
            &-list {
                display: flex;
                justify-content: center;
                margin-top: 20px;
                padding-left: 0;
                list-style: none;
            }

            &-li:not(:last-child) {
                margin-right: 10px;
            }

            &-img {
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 50%;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
                &:hover,
                &:focus {
                    background-color: $accent-color;
                }
            }

        }

        .footer_link-svg {
            fill: $container-bg-color;
        }

        &_form button {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            margin-top: 20px;
            width: 200px;
            height: 50px;
            background: $accent-color;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
            border-radius: 4px;
            border: #ffdead;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.87;
            letter-spacing: .06em;
            color: $container-bg-color;
            align-items: center;
        }
    }

    // .address {
    //     margin-top: 20px;
    //     font-style: normal;

    //     &_list {
    //         margin: 0;
    //         padding-left: 0;
    //         list-style: none;
    //     }

    //     &_item:not(:last-child) {
    //         margin-bottom: 9px;
    //     }

    //     &_link {
    //         text-decoration: none;
    //         line-height: 1.71;
    //         color: rgba(255,255,255,.6);
    //         font-size: 14px;
    //     }
    // }
}

@media screen and (min-width: 768px) {
    .footer {

        &_box {
            display: flex;
            margin-bottom: 60px;
            justify-content: center;
        }

        &_col {
            margin-bottom: 0;
        }

        &_soc {
            margin: 0;
            margin-left: 165px;
        }

        padding: 60px 0;
        
        &_container {
            width: 768px;
        }


        &_form {
            text-align: center;
        }

        &_col-title {
            font-weight: 700;
            line-height: 1.14;
            letter-spacing: .03em;
            text-transform: uppercase;
            color: $container-bg-color;
            margin: 0 auto;
            margin-bottom: 20px;
            text-align: center;
            font-size: 14px;
        }

    }




}

@media screen and (min-width: 1200px) {

    .footer {
        padding-top: 60px;
        padding-bottom: 60px;

        &_container {
            display: flex;
            width: 1200px;
        }

        &_box {
            display: flex;
            margin-bottom: 0;
        }
        
    }

    .footer_logo {
        display: block;
        font-weight: 700;
        line-height: 1.19;
        letter-spacing: .03em;
        color: #fff;
        margin-bottom: 20px;
        font-size: 26px;
    }



    .footer_col {
        text-align: left;
        max-width: 100%;
        margin-bottom: 0;
        margin-right: 70px;

        &_logo {
            font-size: 26px;
            line-height: 1.19;
        }
    }

    .footer_col-last {
        margin-left: 93px;

        &-title {
            margin-top: 0;
            margin-bottom: 20px;
            text-align: left;
        }
    }

    .footer_soc {
        margin: 0;
    }

    .address {
        text-align: left;

        &_list {
            width: 231px;
        }

        &_link {
            font-size: 14px;
            color: $container-bg-color;
            font-style: normal;
            letter-spacing: .03em;
            line-height: 1.71;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                color: $accent-color;
            }

        }
    }

    .footer_soc-link {
        margin: 0;

        &-title {
            text-align: left;
        }
    }

    .footer_col-title {
        margin-top: 0;
        text-align: left;
        margin-bottom: 20px;
    }

    .footer_form {
        display: flex;

        input {
            margin-right: 12px;
            height: 50px;
            width: 358px;
            color: $container-bg-color;
        }

        button {
            margin-top: 0;
        }
    }

    .footer_email--two {
        display: inline-block;
        color: rgba(255,255,255,.6);
        font-style: normal;
        line-height: 1.71;
        letter-spacing: .03em;
        font-size: 14px;
        padding: 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    .footer_tel--two {
        display: inline-block;
        color: rgba(255,255,255,.6);
        font-style: normal;
        line-height: 1.71;
        letter-spacing: .03em;
        font-size: 14px;
        padding: 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}
