.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-mobile.jpg);
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-mobile2x.jpg);
    }


    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-table.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-table2x.jpg);
        }
    }


    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img2x.jpg);
        }
    } 

    &_btn {
        padding: 10px 32px;    
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
      
        background-color: $accent-color;
        color: $container-bg-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      
        border-radius: 4px;
        border: navajowhite;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
        background-color: $color-btn-hover;
        }
    }

}

.hero_title {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
  
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    color: $container-bg-color;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    transition: opacity 300ms linear,visibility 300ms linear;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.modal {
    position: absolute;
    padding: 40px;
    width: 350px;
    height: 609px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form_checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: .03em;
    text-align: center;
    color: $secondary-text-color;

    &-label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}

.form_checkbox-input:checked+.form_checkbox-icon {
    border-color: rgba(0,0,0,0);
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    fill: $container-bg-color;
    background-color: #2196f3;
    border-color: #2196f3;
}


@media screen and (min-width: 480px) {
    .modal {
        width: 450px;

            
        &_svg {
            color: $accent-color;
            width: 18px;
            height: 18px;
        }
    }
}

@media screen and (min-width: 320px) {
    .hero {
        text-align: center;
        padding-bottom: 118px;
        padding-top: 118px;
        max-width: 1600px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }

    .hero_title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: $container-bg-color;
    }

    .hero_btn {
        font-weight: 700;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
    }

   

    // FORM HERO // 

    .form-hero {
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }

    .form_hero-title {
        margin-bottom: 30px;
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: 0.03em;
        font-size: 20px;
        margin-bottom: 12px;
        display: block;
    }

    .form_field {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    
        &:focus-within > input {
            border: 1px solid $accent-color;
            border-radius: 4px;
        }
    
        &:focus-within > .form_field-svg {
            fill: currentColor;
        }
    
        textarea {
            resize: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding: 12px 16px;
            outline: none;
            height: 120px;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:focus {
                border: 1px solid $accent-color;
                border-radius: 4px;
            }
    
            &::placeholder {
                font-weight: $main-font-weight;
                line-height: 14px;
                letter-spacing: 0.01em;   
                color: rgba(117, 117, 117, 0.5);
                font-size: 12px;
            }
        }
    
        &-input {
            width: 100%;
            margin: 0;
            padding-left: 42px
        }
    
        &-svg {
            position: absolute;
            top: 50%;
            left: 12px;
            color: $accent-color;
            display: inline-block;
        }
    
        label {
            text-align: left;
            font-weight: $main-font-weight;
            line-height: 1.16;    
            letter-spacing: 0.01em;
            font-size: 12px;
            color: $secondary-text-color;
            margin-bottom: 4px;
        }
    
        input {
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            height: 40px;
            margin: 0;
            outline: none;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .form_checkbox {
        margin-bottom: 30px;
    
        &-label {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: $main-font-weight;
            line-height: 1.71;
            letter-spacing: 0.03em; 
            color: $secondary-text-color;
            font-size: 12px;
        }
    
        &-input {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            overflow: hidden;
    
            &:checked + .form_checkbox-icon {
                border-color: transparent;
                background-image: url(../img/icon-check.svg);
                background-size: contain;
                background-origin: border-box;
                fill: $container-bg-color;
                background-color: $accent-color;
                border-color: $accent-color;
            }
        }
    
        &-icon {
            display: inline-block;
            width: 16px;
            height: 15px;
            border: 2px solid $primary-text-color;
            border-radius: 4px;
            margin-right: 7px;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-coloк 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &-policy {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: $accent-color;
            margin-left: 5px;
            text-underline-offset: 0.3em;
            text-decoration: underline;
        }

    }

    .form_text {
        margin-bottom: 20px;
    }

    .btn-fly {
        padding-bottom: 40px;
    }

}


@media screen and (min-width: 1200px) {

    .hero {
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;

        &_title {
            text-transform: uppercase;
            font-size: 44px;
            line-height: 1.36;
            color: $container-bg-color;
            letter-spacing: 0.06em;
            margin-top: 0;
            max-width: 650px;
            margin-top: 200px;
            letter-spacing: 0.06em;
            margin: 0 auto 30px auto;
            font-weight: 900;
        }

        // &_btn {
        //     font-family: inherit;
        //     color: $container-bg-color;
        //     background: $accent-color;
        //     font-size: 16px;
        //     border-color: transparent;
        //     font-weight: 700;
        //     line-height: 1.8;
        //     border-radius: 4px;
        //     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        //     padding: 10px 32px;
        //     text-align: center;
        //     letter-spacing: 0.06em;
        //     cursor: pointer;
        //     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        //     &:hover,
        //     &:focus {
        //     background-color: $color-btn-hover;
        //     }
        // }
    }
   
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
    }

    .modal {
        width: 528px;
        height: 581px;
    
        &_svg {
            color: $accent-color;
            width: 18px;
            height: 18px;
        }
    }

    .form_hero-title {
        display: block;
        width: 100%;
        margin-bottom: 12px;
    }

    .form_checkbox {
        display: block;
        font-size: 14px;
        line-height: 1.71;

        label {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            line-height: 1.71;
            letter-spacing: .03em;
            color: #757575;
            font-size: 14px;
        }
    }

}





// .form_checkbox {
//     margin-bottom: 30px;

//     &-label {
//         position: relative;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         font-weight: $main-font-weight;
//         line-height: 1.71;
//         letter-spacing: 0.03em; 
//         color: $secondary-text-color;
//         font-size: 14px;
//     }

//     &-input {
//         position: absolute;
//         width: 1px;
//         height: 1px;
//         margin: -1px;
//         border: 0;
//         padding: 0;
//         clip: rect(0 0 0 0);
//         overflow: hidden;

//         &:checked + .form_checkbox-icon {
//             border-color: transparent;
//             background-image: url(../img/icon-check.svg);
//             background-size: contain;
//             background-origin: border-box;
//             fill: var(--container-bg-color);
//             background-color: $accent-color;
//             border-color: $accent-color;
//         }
//     }

//     &-icon {
//         display: inline-block;
//         width: 16px;
//         height: 15px;
//         border: 2px solid $primary-text-color;
//         border-radius: 4px;
//         margin-right: 7px;
//         transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-coloк 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &-policy {
//         font-size: 14px;
//         line-height: 24px;
//         letter-spacing: 0.03em;
//         color: $accent-color;
//         margin-left: 5px;
//         text-underline-offset: 0.3em;
//         text-decoration: underline;
//     }
// }

// .form_field {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 10px;

//     &:focus-within > input {
//         border: 1px solid $accent-color;
//         border-radius: 4px;
//     }

//     &:focus-within > .form_field-svg {
//         fill: currentColor;
//     }

//     textarea {
//         resize: none;
//         border: 1px solid rgba(33, 33, 33, 0.2);
//         border-radius: 4px;
//         padding: 12px 16px;
//         outline: none;
//         transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

//         &:focus {
//             border: 1px solid $accent-color;
//             border-radius: 4px;
//         }

//         &::placeholder {
//             font-weight: $main-font-weight;
//             line-height: 14px;
//             letter-spacing: 0.01em;   
//             color: rgba(117, 117, 117, 0.5);
//             font-size: 12px;
//         }
//     }

//     &-input {
//         width: 100%;
//         margin: 0;
//         padding-left: 42px
//     }

//     &-svg {
//         position: absolute;
//         top: 50%;
//         left: 12px;
//         color: $accent-color;
//         display: inline-block;
//     }

//     label {
//         text-align: left;
//         font-weight: $main-font-weight;
//         line-height: 1.16;    
//         letter-spacing: 0.01em;
//         font-size: 12px;
//         color: $secondary-text-color;
//         margin-bottom: 4px;
//     }

//     input {
//         border: 1px solid rgba(33, 33, 33, 0.2);
//         border-radius: 4px;
//         height: 40px;
//         margin: 0;
//         outline: none;
//         transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
// }


// .form_comment-text {
//     height: 120px;
//     margin-bottom: 20px;
// }

// --- BACKDROP -- // 

// .backdrop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     background: rgba(0, 0, 0, 0.2);
//     width: 100%;
//     height: 100%;
//     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     opacity: 1;
// }

// .backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;

//     .modal {
//         transform: translate(-50%, -50%) scale(0.9);
//     }
// }


// .hero {
//     text-align: center;
//     background: $background-hero;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img.jpg);
//     padding-top: 200px;
//     padding-bottom: 200px;
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;

//     &_title {
//         text-transform: uppercase;
//         font-weight: 900;
//         font-size: 44px;
//         line-height: 1.36;
//         color: $container-bg-color;
//         letter-spacing: 0.06em;
//         max-width: 696px;
//         margin: 0 auto 30px auto;
//     }
// }

// --- MODAL -- // 


// .modal {
//     position: absolute;
//     background: $container-bg-color;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 4px;
//     width: 528px;
//     height: 581px;
//     top: 50%;
//     left: 50%;
//     padding: 40px;
//     transform: translate(-50%, -50%) scale(1);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &_svg {
//         color: $accent-color;
//         width: 18px;
//         height: 18px;
//     }
// }

// --- FORM -- // 

// .form_hero {
//     width: 448px;
//     margin-left: auto;
//     margin-right: auto;

//     &-title {
//         display: block;
//         margin-bottom: 30px;
//         font-weight: 700;
//         line-height: 1.15;
//         letter-spacing: 0.03em;
//         font-size: 20px;
//         width: 448px;
//     }
// }

