$primary-text-color: #212121;
$accent-color: #2196f3;
$secondary-text-color: #757575;
$bg-section: #2F303A;
$color-btn-hover: #188CE8;
$container-bg-color: #fff;
$container-border-color: #eee;
$button-bg-color: #f5f4fa;
$logo-main-color: #000;
$body-bg-color: #f5f5f5;
$email-color: rgba(255, 255, 255, 0.6);
$border-company: #AFB1B8;
$background-hero: #C4C4C4;

$main-font-family: 'Roboto', sans-serif;
$title-color: $primary-text-color;
$text-color: $secondary-text-color;

$btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$btn-border-radius: 4px;

$main-font-size: 14px;
$main-font-weight: 400;

$h2-font: 700 36px/1.16 $main-font-family;





